#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-13564503-3bc3-48a3-b287-60e3f104919f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-13564503-3bc3-48a3-b287-60e3f104919f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}