#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21c898e9-578c-4ef0-a57d-3446d4f68fc9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}