#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Triangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9D1EC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9D1EC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9D1EC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9D1EC;
  -ms-transform: rotate(90.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e #s-Triangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-39522fa2-1a47-4afa-bf1f-5b1b622c6b1e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}