#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac > #backgroundBox {
  background-color: #1A1A1A;
  background-image: none;
  position: absolute;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #1A1A1A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Dynamic_Panel_1 {
  position: absolute;
  top: 17px;
  left: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Panel_1 {
  width: 375px;
  height: 650px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 720px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Group_2 {
  position: absolute;
  top: 364px;
  left: 0px;
  width: 375px;
  height: 119px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 119px;
  background-color: #1A1A1A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_1 {
  position: absolute;
  top: 19px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_2 {
  position: absolute;
  top: 48px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_3 {
  position: absolute;
  top: 82px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_3 span {
  color: #78A5C4;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_3 span#rtr-s-Text_3_0 {
  color: #78A5C4;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_3 {
  position: absolute;
  top: 26px;
  left: 321px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_3 span {
  color: #78A5C4;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_3 span#rtr-s-Label_3_0 {
  color: #78A5C4;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_4 {
  position: absolute;
  top: 52px;
  left: 319px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_4 span {
  color: #77A4C4;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_4 span#rtr-s-Text_4_0 {
  color: #77A4C4;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_5 {
  position: absolute;
  top: 85px;
  left: 314px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 366px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 366px;
  background-color: #F0F5F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_2 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 375px;
  height: 320px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_291 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_291 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_291 span#rtr-s-Label_291_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue .content {
  width: 7px;
  height: 7px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue {
  position: absolute;
  top: 322px;
  left: 170px;
  width: 7px;
  height: 7px;
  background-color: #77A4C4;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue span#rtr-s-dot-blue_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_1 .content {
  width: 7px;
  height: 7px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_1 {
  position: absolute;
  top: 322px;
  left: 180px;
  width: 7px;
  height: 7px;
  background-color: #CACACA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_1 span#rtr-s-dot-blue_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_2 .content {
  width: 7px;
  height: 7px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_2 {
  position: absolute;
  top: 322px;
  left: 191px;
  width: 7px;
  height: 7px;
  background-color: #C7C7C6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_2 span#rtr-s-dot-blue_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  overflow: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_3 .content {
  width: 7px;
  height: 7px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_3 {
  position: absolute;
  top: 322px;
  left: 202px;
  width: 7px;
  height: 7px;
  background-color: #CACACA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #shapewrapper-s-dot-blue_3 span#rtr-s-dot-blue_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Group_4 {
  position: absolute;
  top: 474px;
  left: 14px;
  width: 347px;
  height: 246px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Paragraph_2 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 347px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Paragraph_2 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Line_3 {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 135px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Line_4 {
  position: absolute;
  top: 8px;
  left: 211px;
  width: 135px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_16 {
  position: absolute;
  top: 0px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_16 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_16 span#rtr-s-Text_16_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Group_5 {
  position: absolute;
  top: 740px;
  left: 15px;
  width: 345px;
  height: 1077px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 345px;
  height: 238px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_3 {
  position: absolute;
  top: 253px;
  left: 0px;
  width: 345px;
  height: 443px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_4 {
  position: absolute;
  top: 711px;
  left: 0px;
  width: 345px;
  height: 366px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}