#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-dot-blue_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3ee24e45-28ed-4450-97bf-7c6aa98b0fac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}