#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-44f820cb-1a48-4084-8bf1-32f0d70f24ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}