#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-dot-blue_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6523dbea-1ee9-482c-87be-8aed7ad2f626 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}