#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F6F6F6;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F6F6F6;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_98 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_9 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_41 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_10 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_11 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_12 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_13 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_43 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_14 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_125 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_44 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_15 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_16 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_128 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_129 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_17 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_130 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_131 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_18 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_132 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_133 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_19 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_134 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_135 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_20 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_136 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_137 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_21 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_22 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_141 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_23 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_142 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_143 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_24 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_144 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_25 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_147 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_26 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_148 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_27 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_150 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_151 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_28 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_152 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_153 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Plus_29 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #272727;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-66ed4274-56a9-4f8d-a8a7-ad475ff0fc08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}