#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7326697c-7ce0-4e1e-b4b8-9471cd100cfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}