#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7c7caa5a-e8e6-4339-8231-ebac99d092c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}