#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd > #backgroundBox {
  background-color: #1D2124;
  background-image: none;
  position: absolute;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #1A1A1A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Group_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 375px;
  height: 50px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 50px;
  background-color: #1A1A1A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_15 {
  position: absolute;
  top: 13px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_15 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_15 span#rtr-s-Label_15_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_1 {
  position: absolute;
  top: 16px;
  left: 156px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 方正兰亭细黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_1 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭细黑_GBK,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭细黑_GBK,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_291 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Group_2 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 375px;
  height: 36px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 36px;
  background-color: #1D2124;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_2 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 75px;
  width: 75px;
  height: 36px;
  background-color: #1D2124;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_3 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 75px;
  height: 36px;
  background-color: #1D2124;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_4 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 225px;
  width: 75px;
  height: 36px;
  background-color: #1D2124;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_5 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 75px;
  height: 36px;
  background-color: #1D2124;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_6 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_1 {
  position: absolute;
  top: 34px;
  left: 20px;
  width: 35px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_2 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: 35px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_3 {
  position: absolute;
  top: 34px;
  left: 171px;
  width: 35px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_4 {
  position: absolute;
  top: 34px;
  left: 245px;
  width: 35px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_5 {
  position: absolute;
  top: 34px;
  left: 321px;
  width: 35px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Dynamic_Panel_1 {
  position: absolute;
  top: 104px;
  left: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_1 {
  width: 375px;
  height: 570px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 138px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 138px;
  background-color: #2B2E33;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_2 {
  position: absolute;
  top: 9px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_2 span {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_2 span#rtr-s-Text_2_0 {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_3 {
  position: absolute;
  top: 9px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_3 span {
  color: #6F99C3;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_3 span#rtr-s-Text_3_0 {
  color: #6F99C3;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_6 {
  position: absolute;
  top: 31px;
  left: 22px;
  width: 332px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_7 {
  position: absolute;
  top: 103px;
  left: 22px;
  width: 334px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Image_2 {
  position: absolute;
  top: 47px;
  left: 22px;
  width: 40px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_4 {
  position: absolute;
  top: 62px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_4 span {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_4 span#rtr-s-Text_4_0 {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_5 {
  position: absolute;
  top: 56px;
  left: 334px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_5 span {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_5 span#rtr-s-Text_5_0 {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_6 {
  position: absolute;
  top: 76px;
  left: 353px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_6 span {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_6 span#rtr-s-Text_6_0 {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_7 {
  position: absolute;
  top: 113px;
  left: 220px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_7 span {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_7 span#rtr-s-Text_7_0 {
  color: #AAB5BE;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_8 {
  position: absolute;
  top: 107px;
  left: 315px;
  width: 47px;
  height: 23px;
  background-color: #6F99C3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2B2E33;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2B2E33;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2B2E33;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2B2E33;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_8 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_2 {
  width: 375px;
  height: 570px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_3 {
  width: 375px;
  height: 570px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_4 {
  width: 375px;
  height: 570px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_5 {
  width: 375px;
  height: 570px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Hotspot_1 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 75px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Hotspot_2 {
  position: absolute;
  top: 68px;
  left: 75px;
  width: 75px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Hotspot_3 {
  position: absolute;
  top: 68px;
  left: 150px;
  width: 75px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Hotspot_4 {
  position: absolute;
  top: 68px;
  left: 225px;
  width: 75px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Hotspot_5 {
  position: absolute;
  top: 68px;
  left: 300px;
  width: 75px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}