#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A1A1A;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2B2E33;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2B2E33;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2B2E33;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2B2E33;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9f7c77a2-05b3-41a3-9018-4caa19b50dbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}