#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a352767d-65c3-4d15-93b2-307a1a2ad82e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}