#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_1 {
  rotation: 90.0;
  margin-left: 9px;
  margin-top: -10px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4dd1d60-f188-4795-89ab-bba5e41fe19f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}