#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be0a3552-d767-4259-b822-febe06bb726a #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-be0a3552-d767-4259-b822-febe06bb726a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}