#s-ced927f6-9b92-4e4c-b084-38f18f25123d > #backgroundBox {
  background-color: #1D2124;
  background-image: none;
  position: absolute;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #1A1A1A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Group_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 375px;
  height: 50px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 50px;
  background-color: #1A1A1A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_15 {
  position: absolute;
  top: 13px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_15 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_15 span#rtr-s-Label_15_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_1 {
  position: absolute;
  top: 16px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 方正兰亭细黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_1 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭细黑_GBK,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭细黑_GBK,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_291 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_2 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 375px;
  height: 72px;
  background-color: #2B2E33;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_2 {
  position: absolute;
  top: 79px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_2 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_182 {
  position: absolute;
  top: 101px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_182 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_182 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_182 span#rtr-s-Label_182_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Paragraph_1 {
  position: absolute;
  top: 102px;
  left: 38px;
  width: 266px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Paragraph_1 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_290 {
  position: absolute;
  top: 102px;
  left: 331px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_290 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Label_290 span#rtr-s-Label_290_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_3 {
  position: absolute;
  top: 148px;
  left: 0px;
  width: 375px;
  height: 120px;
  background-color: #2B2E33;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Image_2 {
  position: absolute;
  top: 171px;
  left: 25px;
  width: 76px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_3 {
  position: absolute;
  top: 173px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_3 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_4 {
  position: absolute;
  top: 196px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_4 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_5 {
  position: absolute;
  top: 227px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_5 span {
  color: #6CB6E8;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #6CB6E8;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_6 {
  position: absolute;
  top: 227px;
  left: 327px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_4 {
  position: absolute;
  top: 273px;
  left: 0px;
  width: 375px;
  height: 88px;
  background-color: #2B2E33;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_7 {
  position: absolute;
  top: 287px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_7 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Line_1 {
  position: absolute;
  top: 316px;
  left: 25px;
  width: 328px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_8 {
  position: absolute;
  top: 331px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_8 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_5 {
  position: absolute;
  top: 366px;
  left: 0px;
  width: 375px;
  height: 140px;
  background-color: #2B2E33;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_9 {
  position: absolute;
  top: 379px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_9 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_10 {
  position: absolute;
  top: 412px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_10 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_11 {
  position: absolute;
  top: 445px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_11 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_11 span#rtr-s-Text_11_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_12 {
  position: absolute;
  top: 477px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_12 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_12 span#rtr-s-Text_12_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_13 {
  position: absolute;
  top: 379px;
  left: 322px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_13 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_13 span#rtr-s-Text_13_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_14 {
  position: absolute;
  top: 412px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_14 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_14 span#rtr-s-Text_14_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_15 {
  position: absolute;
  top: 445px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_15 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_15 span#rtr-s-Text_15_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_16 {
  position: absolute;
  top: 476px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_16 span {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_16 span#rtr-s-Text_16_0 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Text_16 span#rtr-s-Text_16_1 {
  color: #ADB8C1;
  text-align: left;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_6 {
  position: absolute;
  top: 618px;
  left: 0px;
  width: 188px;
  height: 49px;
  background-color: #3A688C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_6 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_7 {
  position: absolute;
  top: 618px;
  left: 187px;
  width: 188px;
  height: 49px;
  background-color: #6F99C3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 方正兰亭黑_GBK,Arial;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_7 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 方正兰亭黑_GBK,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ced927f6-9b92-4e4c-b084-38f18f25123d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}