#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-dot-blue_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d21d1a48-44f1-454d-9b7f-c0d8b5465b41 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}