#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-df6f0903-53c4-4c31-b028-a3f0a185aae2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}