#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f6113c08-b1b2-483d-acfc-5a98d37f7d6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}