#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f7320713-6456-44c1-9b14-f31c636ecb87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}