#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fff6d26a-39d0-49fe-aae9-63513a861547 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}